{% extends 'base.html.twig' %}

{% block title %}Welkom bij Trainings Factory!{% endblock %}

{% block body %}

    <h3 class="text-center mt-5 mb-5">Welkom bij TrainingsFactory</h3>
<div class="row justify-content-center gap-5 mt-5">
    <div class="card bg-dark text-light col-12 col-sm-3 rounded-0">
      <h4 class="mb-3">Over ons</h4>
    <p>
        Wij zijn een sportinstelling gevestigd in Den Haag en bieden allemaal keuzes in activiteiten voor jong en oud!
        Zoals boksen, kickboksen en MMA en nog veel meer!

    </p>
    </div>

    <div class="card bg-dark text-light col-12 col-sm-3 rounded-0">
        <h4 class="mb-3">Gedragsregels</h4>
       <ul>
           <li>Wees respectvol</li>
           <li>Houdt rekening met elkaar</li>
           <li>Wees positief</li>
       </ul>
    </div>
</div>

{% endblock %}
